html, body {
  height: 100%;
  font-family: 'Cantarell', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #181818;
  color: #e4e4ef;
}

#landing {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.content {
  margin-top: 5rem;
}

.my-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  margin-top: 0.5rem;
  width: fit-content;
  color: #e4e4ef;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  color: #e4e4ef;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 42;
  background-color: #181818;

}

.content-item-block {
  margin-top: 2.5rem;
  text-align: center;
  padding: 1rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid antiquewhite;  
}

.content-item-block img {
  margin-top: 0.5rem;
  display: block;
  max-width: 60%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.content-item-block p {
  margin-top: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  max-width: 98%;
}

.text-align-center {
  text-align: center;
}

/* Newton's Cradle Related Styles - Start */
.cradle {
  height: 25vh;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
}

.ball {
  margin-top: 5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #e4e4ef;
  transform-origin: 50% -6rem;
  align-self: center;
  position: relative;
}

.ball::before {
  content: "";
  position: absolute;
  top: -6rem;             
  left: 50%;
  width: 0.1rem;          
  height: 6rem;           
  background: whitesmoke;
}

.ball.first {
  animation: first-ball 1s alternate ease-in infinite;
}

@keyframes first-ball {
  0%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(0deg);
  }
}

.ball.last {
  animation: last-ball 1s alternate ease-out infinite;
}

@keyframes last-ball {
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-45deg);
  }
}
/* Newton's Cradle Related Styles - End */
