html, body {
  height: 100%;
  font-family: 'Cantarell', sans-serif;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #181818;
  color: #e4e4ef;
}

#landing {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.content {
  margin-top: 5rem;
}

.my-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  margin-top: 0.5rem;
  width: fit-content;
  color: #e4e4ef;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  color: #e4e4ef;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 42;
  background-color: #181818;

}

.content-item-block {
  margin-top: 2.5rem;
  text-align: center;
  padding: 1rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid antiquewhite;  
}

.content-item-block img {
  margin-top: 0.5rem;
  display: block;
  max-width: 60%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.content-item-block p {
  margin-top: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  max-width: 98%;
}

@media (max-width: 36rem) {
  .content-item-block p {
    text-align: left;
  }
}

.text-align-center {
  text-align: center;
}

.small-text {
  font-size: 0.75rem;
}
